<aside class='blog-aside'>
  <nav>
    <h5>The social me</h5>
    <ul>
      <li>&mdash; Fork with me on <a href="https://github.com/jensnockert/">Github</a></li>
      <li>&mdash; Follow me on <a href="https://twitter.com/jensnockert/">Twitter</a></li>
    </ul>
  </nav>
</aside>